{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
{% endblock %}{% block content %}
    <div class="container d-flex flex-row flex-wrap justify-content-center align-items-center text-center mt-5">
        {% if weather != None %}
            {% if unit == "imperial" %}
                {% set deg = "F" %}
            {% else %}
                {% set deg = "C" %}
            {% endif %}
            <div class="">
                <h1>
                    Todays Weather Fortcast: {{ weather.main }}
                </h1>
                <div class="">
                    <h2>
                        {{ weather.description }}
                    </h2>
                    <p> 
                        With a current temprature of {{ temp.temp }} &degF (max: {{ temp.temp_max }} &deg{{ deg }} / min: {{ temp.temp_min }} &deg{{ deg }}), and a humidity of {{ temp.humidity }}%.
                    </p>
                </div>
            </div>
        {% endif %}
        
        {% if error != None %}
            <h2>{{ error }}</h2>
        {% endif %}
        <form action="{{ url_for('get_weather') }}" class="d-flex flex-wrap container" method="POST">
            <input type='text' name="city" class="col-12 col-md-8 col-lg-6 my-2" required placeholder="City (required)" />
            <input type='text' name="state" class="col-12 col-md-8 col-lg-6 my-2"  placeholder="State (optional)" />
            <input type='text' name="country" class="col-12 col-md-8 col-lg-6 my-2" required placeholder="Country (required)" />
            <select class="select" class="col-12 col-md-8 col-lg-6 my-2"  name="unit-type">
                <option selected value="imperial">imperial</option>
                <option value="metric">metric</option>
            </select>    
            <input class="btn btn-primary" type="submit" value="Get Weather">
        </form>
    </div>
{% endblock %}
